[Unit]
Description=Nepos kiosk browser
After=weston.service

[Service]
Environment=XDG_RUNTIME_DIR=/tmp/weston QT_QPA_PLATFORM=eglfs
ExecStart=/app/kiosk-browser-qt/kiosk-browser-qt -platform wayland --fullscreen
Restart=always

